.container {
  margin: 0 auto;
}

.over-lay {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.3);
  display:none;
  animation: fadeIn linear 0.3s;
}
.nav-mobile {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  max-width: 100%;
  background: linear-gradient(90deg, #50C577 0%, #2DBEFC 100%);
  transform: translateX(-100%);
  opacity: 0;
  transition: transform linear 0.3s, opacity linear 0.3s;
}
.mobile-list {
  margin-top: 24px;
}
.mobile-link {
  text-decoration: none;
  color: white;
  display: block;
  padding: 8px 0;
  font-size: 1.4rem;
}
.mobile-close {

  font-size: 1.4rem;
  color: #666;
  position: absolute;
  top: 1rem;
  right: 1rem;

}
.nav-input:checked ~ .over-lay {
  display: block;

}
.nav-input:checked ~ .nav-mobile {
  transform: translateX(0%);
  opacity: 1;

}

.mobile-link:hover {
  color: #4267B2;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
  
}


.bg-bt {
  background: linear-gradient(180deg, #FFB469 0%, #E57709 100%);
  transition-duration: 1s;
}
.txt {
  color: #F7A14B;
}



.bg-button:hover {
    background: linear-gradient(180deg, #FFB469 0%, #E57709 100%);
}

.bg-bt:hover {
  background: #0585c0;
}


#banner {
    margin-top: 20px;
}
.sbaner {
  width: 100%;
  height: 100%;
}
.slidebaner {
  width: auto;
  height: 100%;

}
.slidebaner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* swiper 2 */
.s-sale {
  width: 100%;
  height: 100%;
}
.slidesale {
  width: auto;
  

}
.slidesale img {
  object-fit: cover;
}

.bg-sec3 {
  background: linear-gradient(90deg, #50C577 0%, #C4EACE 0.01%, #B5E8FD 100%);
  height: 850px;

}
.bg-color {
  background: linear-gradient(90deg, #50C577 0%, #2DBEFC 100%);
}

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }

  .machine {
    width: auto;
    height: auto;
  }
.slidemachine {
    width: auto;
}
.slidemachine img {
    width: auto;
    object-fit: cover;
}

  .sale:hover {
    background: linear-gradient(90deg, #50C577 0%, #2DBEFC 100%);
   
  }
  .dis{
    background: linear-gradient(90deg, #26BA5F 0%, #08B2FB 100%);
      background-clip: text;
      color: transparent;
  }
  
  .sa:hover button{
    color: white;
  }
  .sa:hover p{
    color: white;
  }
  .list-disc-custom li::before {
    content: "";
    display: inline-block;
    width: 0.75em; /* Điều chỉnh kích thước của dấu chấm */
    height: 0.75em; /* Điều chỉnh kích thước của dấu chấm */
    margin-left: -1em; /* Điều chỉnh vị trí của dấu chấm */
    margin-right: 0.5em; /* Điều chỉnh khoảng cách giữa dấu chấm và văn bản */
    background: linear-gradient(90deg, #73D090 0%, #C4EACE 0.01%, #53CAFB 100%); /* Đổi màu của dấu chấm */
    border-radius: 50%; /* Tạo hình tròn cho dấu chấm */
    box-shadow: 0 0 0 1px rgba(0, 136, 255, 0.503);
    
}

.border-l {
  border-left: 2px solid #50C577;
}
.border-r {
  border-right: 2px solid #4FB6F3;
}
.star {
  color:rgba(255, 199, 0, 1)
}

.item_reviews .img:after {
  position: absolute;
  inset: 0;
  content: "";
  display: block;
  background: url(./img/ytb.png) no-repeat;
  background-size: 4.375rem;
  background-position: center center;
}

.bg-foot {
  background: linear-gradient(90deg, #1CAB55 0%, #04A4EC 100%);
}

.fa-facebook {
  transition: color 0.3s; /* Smooth transition */
}
.fb:hover {
  background: #4267B2; /* Color when hovering */
  transition: 0.3s;
}


@media screen and ( max-width:640px){
  #list-items li {  
   font-size: 18px; 
   color:white;   
   text-shadow: 0px 0px 5px #0d1a3a;
	text-shadow: 0px 0px 1px #fff;
  padding-bottom: 20px;
  text-align: center;



}  
#list-items a:hover {
  color:#04A4EC;
  text-decoration: underline;  

}
.dropdown {
  
position: absolute;
z-index: 20;
width: 80%;
height: 100%;
  
}
.dropdown ul {
  position: absolute;
  left: 0;
  background: #0A486F;
  width: 95%;
  height: 100%;
  padding-top: 90px;
  padding-left: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url(./img/Logo1.png);
  background-repeat: no-repeat;
  background-position: top;
  border: 1px solid white
  
}
}

@media screen and ( min-width:768px) and ( max-width: 890px){
  #list-items li {  
    font-size: 40px; 
    color:white;   
    text-shadow: 0px 0px 5px #0d1a3a;
   text-shadow: 0px 0px 1px #fff;
   padding-bottom: 20px;
   text-align: center;
 
 
 
 }  
 #list-items a:hover {
   color:#04A4EC;
   text-decoration: underline;  
 
 }
 .dropdown {
   
 position: absolute;
 width: 80%;
 height: 100%;

 }
 .dropdown ul {
   position: absolute;
   left: 0;
   background: #0A486F;
   width: 95%;
   height: 100%;
   padding-top: 90px;
   padding-left: 20px;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   background-image: url(./img/Logo1.png);
   background-repeat: no-repeat;
   background-position: top;
   transform: scale(1);
   border: 1px solid white;
   
   
 }

}







