.container {
  margin: 0 auto;
}


.bg-bt {
  background: linear-gradient(180deg, #FFB469 0%, #E57709 100%);
}
.txt {
  color: #F7A14B;
}



.bg-button:hover {
    background: linear-gradient(180deg, #FFB469 0%, #E57709 100%);
}

#banner {
    margin-top: 20px;
}
.sbaner {
  width: 100%;
  height: 100%;
}
.slidebaner {
  width: auto;
  height: 100%;

}
.slidebaner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* swiper 2 */
.s-sale {
  width: 100%;
  height: 100%;
}
.slidesale {
  width: auto;
  

}
.slidesale img {
  object-fit: cover;
}
.contact:hover {
  background: #0A486F;
  
}
.bg-sec3 {
  background: linear-gradient(90deg, #50C577 0%, #C4EACE 0.01%, #B5E8FD 100%);
  height: 850px;

}
.bg-color {
  background: linear-gradient(90deg, #50C577 0%, #2DBEFC 100%);
}

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }

  .machine {
    width: auto;
    height: auto;
  }
.slidemachine {
    width: auto;
}
.slidemachine img {
    width: auto;
    object-fit: cover;
}

  .sale:hover {
    background: linear-gradient(90deg, #50C577 0%, #2DBEFC 100%);
   
  }
  .dis{
    background: linear-gradient(90deg, #26BA5F 0%, #08B2FB 100%);
      background-clip: text;
      color: transparent;
  }
  
  .sa:hover button{
    color: white;
  }
  .sa:hover p{
    color: white;
  }
  .list-disc-custom li::before {
    content: "";
    display: inline-block;
    width: 0.75em; /* Điều chỉnh kích thước của dấu chấm */
    height: 0.75em; /* Điều chỉnh kích thước của dấu chấm */
    margin-left: -1em; /* Điều chỉnh vị trí của dấu chấm */
    margin-right: 0.5em; /* Điều chỉnh khoảng cách giữa dấu chấm và văn bản */
    background: linear-gradient(90deg, #73D090 0%, #C4EACE 0.01%, #53CAFB 100%); /* Đổi màu của dấu chấm */
    border-radius: 50%; /* Tạo hình tròn cho dấu chấm */
    box-shadow: 0 0 0 1px rgba(0, 136, 255, 0.503);
    
}

.border-l {
  border-left: 2px solid #50C577;
}
.border-r {
  border-right: 2px solid #4FB6F3;
}
.star {
  color:rgba(255, 199, 0, 1)
}

.item_reviews .img:after {
  position: absolute;
  inset: 0;
  content: "";
  display: block;
  background: url(./img/ytb.png) no-repeat;
  background-size: 4.375rem;
  background-position: center center;
}

.bg-foot {
  background: linear-gradient(90deg, #1CAB55 0%, #04A4EC 100%);
}




@media screen and ( max-width:640px){
  #list-items a {  
   font-size: 18px; 
   color: black;  
   text-decoration: none;  
   padding-top: 10px; 


}  
#list-items a:hover {
  color:#04A4EC
}
.dropdown {
  margin-top: 50px;
  
}
}




